<!doctype html>

<head>
  <title>Времена года</title>
</head>

<body bgcolor="ccccff">
  <h1 align="center">Времена года</h1>
  <hr>
  <font color="blue">
    <h2 align="center">Зима<h2>
  </font>
  <hr>
  <!-- <img src="img/zima.jpg" height="650" widht="600" alt="зима" align="right"> -->
  <img src="http://dummyimage.com/650x600/a6a6ff" height="650" widht="600" alt="зима" align="right">
  <p align="left">
    <font size="3">Чудная картина,
  </p>
  <p>Как ты мне родна:</p>
  <p>Белая равнина,</p>
  <p>Полная луна,</p>
  <br>
  <p>Свет небес высоких,</p>
  <p>И блестящий снег,</p>
  <p>И саней далеких</p>
  <p>Одинокий бег.</p>
  </font>
  <br>
  <p align="center">
    <font size="3">
      [<a href="winter.htm">Зима</a>] &nbsp
      [<a href="spring.htm">Весна</a>] &nbsp
      [<a href="summer.htm">Лето</a>] &nbsp
      [<a href="autumn.htm">Осень</a>] &nbsp
  </p>
  </font>
</body>

</html>