main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-nav {
    flex-direction: row;
}

.navbar .sidebar-toggle {
    margin-right: auto;
}
.wrapper .main-header .logo {
    height: 60px;
    line-height: 60px;
}
.wrapper .main-sidebar {
    padding-top: 60px;
}
.wrapper-form {
    display: flex;
    gap: 30px;
}
.migrate-area {
    overflow: auto;
    background-color: #000;
    color: #fff;
    height: 500px;
    max-height: 70vh;
    padding: 10px;
}
.migrate-area p {
    margin: 0;
    opacity: .6;
}

.migrate-area p:first-child {
    font-size: 16px;
    opacity: 1;
}.migrate-area p:nth-child(2) {
    font-size: 15px;
    opacity: .8;
}
.index-wrapper a {
    display: flex;
}
iframe, object {
    width: 100%;
    height: auto;
    aspect-ratio: 13/10;
}
iframe {
    border: none
}
.wrapper.dn {
    display: none;
}
.limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
}
.show-limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .4s;
}
.show-limit br {
    display: none;
}
.show-limit:hover {
    text-overflow: unset;
    word-break: break-all;
    white-space: normal;
}
.tooltips {
    position: relative;
    overflow: visible;
}
.m-40 {
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
    word-break: break-word;
}
.m-25 {
    max-width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
    word-break: break-word;
}
.tooltips::after { 
    content: attr(data-tooltip); 
    position: absolute;
    display: flex;
    flex-basis: 40%;
    max-width: 100%;
    white-space: pre;
    word-break: break-word;
    word-break: break-all;
    bottom: -10px;
    left: 0;
    opacity: 0;
    transition: .3s;
    padding: 0 5px;
    border: 1px solid #2c79bd;
    border-radius: 3px;
    background-color: #fff;
}
.tooltips:hover::after { 
    content: attr(data-tooltip);
    opacity: 1;
}
.red {
    color: #a81a1a;
}
.orange {
    color: #ce9b02;
}
.green {
    color: #2ca82a;
}
/* .color {
    color: #a81a1a;
} */
.green-col {
    color: #2ca82a
}
.orange-col {
    color: #ce9b02
}
.red-col {
    color: red;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/* td {
    transition: 3s;
    background-color: #4e4e8e;
} */
/* ul {
    padding-left: 20px;
}
ul li p {
    display: inline-block;
}
p {
    margin: 0;
}
p a {
    font-size: 22px;
}
a {
    position: relative;
}
a.del {
    color: red;
}
a.edit {
    color: green;
}
a.add {
    color: green;
}
[data-tooltip]:hover::after {
    position: absolute;
    top: 30px;
    left: 10px;
    content: attr(data-tooltip);
    padding: 10px;
    line-height: 1.1;
    font-size: 14px;
    background-color: #fff;
    z-index: 1;
} */

/* table */
.bidding table {
    table-layout: fixed;
    min-width: 300px;
    text-align: center;
}

/* table > * > * {
} */
.bidding td, .bidding th {
    height: 50px;
    width: 25%;
}

.bidding table th {
    background-color: #fff;
    text-align: inherit;
    transition: .3s;
}

.bidding table td {
    cursor: pointer;
    transition: .3s;
}

.bidding-form label {
    border-radius: 2px;
}

.bidding .vul {
    color: #fff;
    text-shadow: 1px 1px 2px #cb0000, -1px -1px 2px #cb0000, 1px -1px 2px #cb0000, -1px 1px 2px #cb0000;
    background-color: #cb0000cc;
}

.bidding .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-left: 15px; */
}

.bidding label {
    /* margin-left: -30px; */
    margin-bottom: 0;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: .2s;
}
.bidding input[type="checkbox"]:checked + label,
.bidding input[type="radio"]:checked + label {
    color: #fff;
    text-shadow: 1px 1px 2px #33743baa, -1px -1px 2px #33743baa, 1px -1px 2px #33743baa, -1px 1px 2px #33743baa;
    background-color: #33743b99;
}
.bidding label {
    user-select: none;
}
.bidding input[type="checkbox"],
.bidding input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.bidding label:hover {
    background-color: #33743b50;
}

.bidding-table > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.bidding-table span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
    border-radius: 2px;
    /* del */
    position: relative;
}
.bidding-table-body span::before {
    position: absolute;
    bottom: -1px;
    left: 20px;
    content: attr(data-num);
}
.bidding-table-body span::after {
    position: absolute;
    bottom: -1px;
    right: 20px;
    content: attr(data-count);
}

.bidding-table span:hover:not(.current) {
    color: #fff;
    background-color: #3c8dbc;
}
.bidding-table .current {
    background-color: #13873244;
}
.bidding .hd {
    height: 0;
    opacity: 0;
    font-size: 0px;
}
.bidding-box {
    max-width: 400px;
}
.bidding-box > div {
    display: flex;
    flex-wrap: wrap;
}
.bidding-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 35px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
    border-radius: 2px;
}
.bidding-box span:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #175c84, -1px -1px 2px #175c84, 1px -1px 2px #175c84, -1px 1px 2px #175c84;
    background-color: #3c8dbc;
}
.bidding-competition span {
    width: 33%;
    height: 40px;
}